@import "variables";

.featuresView {
  position: relative;
  width: 100%;
  display: flex;

  &__sidebar {
    width: 250px;
    font-weight: 500;

    .features-nav {
      cursor: pointer;
      padding: 15px 25px;
      font-size: 16px;
      letter-spacing: 0.08em;
      border-bottom: 1px solid rgba(0,0,0,.2);
      border-top: 1px solid rgba(255,255,255,.05);
      border-left: 5px solid transparent;
      color: rgba($white, 0.8);

      &:hover {
        background-color: lighten($black, 2%);
        border-left: 5px solid rgba($green, 0.4);
        color: $white;
      }

      &--active {
        border-left: 5px solid $green;
        color: $white;
      }

      span {
        font-size: 1.2em;
        font-weight: 800;
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
      }
    }
  }
}

.slider-container {
  margin: 50px 0 60px;
}

.slider__minMax {
  filter: none; 
  -webkit-filter: blur(0px); 
  -moz-filter: blur(0px); 
  -ms-filter: blur(0px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
  opacity: 0.4;
}

.allFeatures {
  background: lighten($black, 5%);
  flex: 1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__contain {
    margin: 0 auto;
    width: 700px;
  }
}

.features {
  display: none;

  .rc-slider {
    margin: 40px auto;
    width: calc(100% - 250px);
  }

  &--active {
    display: block;
  }
}