@import "src/styles/variables";

.allSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('../assets/success-bg.jpg');
  background-size: cover;
  background-position: center center;
  margin: 0 auto;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.8;
  }

  &__container {
    position: relative;
    width: 90%;
    max-width: 500px;
    text-align: center;
    z-index: 2;
  }

  &__playlist {
    margin: 50px auto;
  }
}

.success {
  display: none;

  &--active {
    display: block;
  }
}